<h5>Edit Place</h5>
<div [hidden]="submitted">
    <form #editPlaceForm="ngForm">
      <div class="form-group">
        <label for="locationName">LocationName</label>
        <input type="text" class="form-control" id="locationName" placeholder="LocationName"
        required 
        [(ngModel)]="place.locationName" name="locationName" #locationName="ngModel">
        <div [hidden]="locationName.valid || locationName.pristine"
             class="alert alert-danger">
             LocationName is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description"
        required
        [(ngModel)]="place.description" name="description" #description="ngModel">
        <div [hidden]="description.valid || description.pristine"
             class="alert alert-danger">
            Description is required
        </div>
      </div>

      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" placeholder="Latitude"
        required
        [(ngModel)]="place.latitude" name="latitude" #latitude="ngModel">
        <div [hidden]="latitude.valid || latitude.pristine"
             class="alert alert-danger">
             Latitude is required
        </div>
      </div>

      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="text" class="form-control" id="longitude" placeholder="Longitude"
        required
        [(ngModel)]="place.longitude" name="longitude" #longitude="ngModel">
        <div [hidden]="longitude.valid || longitude.pristine"
             class="alert alert-danger">
             Longitude is required
        </div>
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
        <button type="button" class="btn btn-success" (click)="update()" [disabled]="!editPlaceForm.form.valid"><i class="fa fa-save"></i> Update</button>
        <button type="button" class="btn btn-danger" (click)="delete()"><i class="fa fa-trash"></i> Delete</button>
	    </div>
    </form>
</div>
 
<div [hidden]="!submitted">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
</div>